# JWT Secret for authentication
JWT_SECRET=infralink-super-secret-key

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fuenqltwbanvyzeqkyvc.supabase.co
# Use the anon key provided in Supabase dashboard
NEXT_PUBLIC_SUPABASE_ANON_KEY=
# Use the service_role key provided (the one starting with eyJhbGci...)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1ZW5xbHR3YmFudnl6ZXFreXZjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzQwODg4NywiZXhwIjoyMDkyOTg0ODg3fQ.aPYbMT4C5fzj8iS1hjes1z6ODnq519pRM-d0QRIpFa0

# SMTP Configuration for Emails
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM="InfraLink Eventos <noreply@infralink.com.br>"
